* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #616161;
  background-color: var(--color-fondo-oscuro);
}

//GLOBALES
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin background($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

img {
  width: 100%;
  height: 100%;
}

.contenedor {
  width: 90%;
  margin: 0 auto 15px;
  max-width: 1240px;
  padding: 50px 0;
}

.oculto {
  display: none;
}
.tag {
  font-size: var(--textos-peque);
  font-family: var(--fuente-principal);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-principal) !important;
  letter-spacing: 1px;
}
.tema-principal {
  text-transform: capitalize;
  font-size: var(--textos-grandes);
  font-family: var(--fuente-principal);
  margin: 0;
  line-height: 1.3;
}
.contenedor-datos {
  width: 100%;
  @include flexbox(row, flex-start, center);
}

.datos {
  height: 100%;
  font-size: var(--textos-peque);
  @include flexbox(row, center, center);
  @include flexbox(row, space-evenly, center);
}
.texto-comun {
  font-size: var(--textos-comunes);
  text-align: left;
  line-height: 25px;
}
//BOTONES
.btn-num,
.btn-secundario {
  background: none;
  border: 1px solid var(--color-principal);
  font-size: var(--textos-peque);
  font-weight: bold;
}
.btn-num {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.btn-num:nth-child(1) {
  background: linear-gradient(#f67280, #c06c84);
  border: none;
  color: white;
}
.btn-secundario {
  border-radius: 40px;
  padding: 10px 15px;
  margin-left: 10px;
}

//COLORES Y TIPOGRAFIAS

:root {
  --color-textos-oscuro: #333;
  --color-fondo-oscuro: #f6f6f6;
  --color-principal: #f67280;
  --fuente-principal: "Montserrat", sans-serif;
  --textos-peque: 0.6875rem;
  --textos-comunes: clamp(0.75rem, 1vw, 0.9rem);
  --textos-grandes: 1.5rem;
  --color-textos-comunes: #616161;
  --color1: #f8b195;
  --color3: #6c5b7b;
  --color4: #355c7d;
}

//MIXINS

//ESTILOS NAVEGACION PRINCIPAL
.navegacion-principal {
  background: aqua;
  width: 100%;
  height: 50px;
  @include flexbox(column, center, center);
}
.barra-superior {
  width: 100%;
  height: 50px;
  background: green;
  @include flexbox(row, center, center);

  .logo {
    background: red;
    height: 100%;
    width: 60%;
    @include flexbox(row, center, center);
  }
  .extras {
    @include flexbox(row, center, center);
    background: blue;
    height: 100%;
    width: 20%;
  }
}

.menu-movil {
  width: 20%;
  height: 100%;
  background-color: aqua;
  @include flexbox(column, center, center);
  .hamburguesa {
    width: 25px;
    height: 3px;
    margin: 3px;
    background: black;
  }
}
@media (min-width: 768px) {
  .navegacion-principal {
    height: 100px;
  }
  .menu-movil {
    @include flexbox(row, center, center);
    .hamburguesa {
      display: none;
    }
    .oculto {
      background-color: aqua;
    }
  }
  .oculto {
    background-color: yellow;
    width: 100%;
    height: 50px;
    @include flexbox(row, center, center);
    .links {
      background: magenta;
      width: 60%;
      height: 100%;
      @include flexbox(row, center, center);
      list-style-type: none;
    }
    li {
      width: 20%;
      height: 100%;
      background: aqua;
      margin: auto;
      @include flexbox(row, center, center);
    }
  }
}
.linea {
  background: var(--color-principal);
  height: 1px;
  width: calc(100% - 210px);
}

//HEADER-PRINCIPAL

.header-principal {
  background: url(../images/photography-of-a-man-wearing-gray-jacket-looking-back-792385.jpg);
  @include background(cover, no-repeat, center);
  margin-top: 20px;
  padding: 20px 0;
  @include flexbox(column, flex-end, center);
  height: 400px;
  position: relative;
  border-radius: 5px;
}
.header-principal::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.596);
  border-radius: 5px;
}
.contenido-header {
  z-index: 2;
  @include flexbox(column, center, flex-start);
  .tag,
  .contenedor-datos {
    padding: 0 15px;
    margin-top: 15px;
  }
  .tag {
    font-size: clamp(0.6875rem, 1vw, 0.9rem);
  }
  .datos {
    width: 65px;
    color: #fff;
    font-size: clamp(0.6875rem, 1vw, 0.9rem);
  }
  .datos:nth-child(1) {
    width: 120px;
  }
  .tema-principal {
    padding: 20px 15px;
    color: #fff;
    font-size: clamp(1.5rem, 5vw, 3rem);
    max-width: 900px;
  }
}
@media (min-width: 768px) {
  .contenido-header {
    max-width: 80%;
    .datos {
      width: 150px;
    }
  }
}
@media (min-width: 1024px) {
  .header-principal {
    height: 500px;
    justify-content: center;
  }
  .contenido-header {
    height: 100%;
    justify-content: flex-end;
    .contenedor-datos {
      margin: 50px 0 20px 0;
    }
  }
}

//INICIO ENTRADAS-PRINCIPALES

.contenedor-subtitulos {
  @include flexbox(row, space-between, center);
  .subtitulos {
    font-family: var(--fuente-principal);
    text-transform: capitalize;
    color: var(--color-textos-oscuro);
    min-width: 190px;
  }
}
.contenedor-entradas {
  @include flexbox(column, center, center);
}
.cartas-principales {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgb(226, 226, 226);
  border-radius: 10px;
  max-width: 400px;
  .contenedor-img-carta-principal {
    width: 100%;
    @include background(cover, no-repeat, center);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
  }
  .contenedor-img-carta-principal::after {
    content: "";
    background: var(--color-fondo-oscuro);
    height: 80px;
    width: 110%;
    position: absolute;
    bottom: -55px;
    left: 0;
    transform: skewY(5deg);
  }
  .contenedor-descripcion-carta-principal {
    padding: 0 10px;
  }
  .tag,
  .tema-principal,
  .texto-comun {
    margin: 10px 0;
  }
  .tema-principal {
    color: var(--color-textos-oscuro);
  }
  .tag {
    display: block;
  }

  .contenedor-datos {
    height: 40px;
    width: 80%;
    margin: 0 auto;
  }
  .datos {
    width: 25%;
  }
}

@media (min-width: 650px) {
  .contenedor-entradas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cartas-principales {
    flex-basis: 48%;
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .contenedor-entradas {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cartas-principales {
    flex-basis: 32%;
  }
}

//INICIO SECCION NOTICIAS
.contenedor-noticias {
  @include flexbox(column, center, center);
  margin-top: 30px;
}

.cartas-noticias {
  margin: 20px 0;
  @include flexbox(row, flex-start, flex-start);
  max-width: 500px;
  .imagen-noticia {
    background: blue;
    width: 30%;
    max-width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .descripcion-noticia {
    width: 70%;
  }
  .tema-principal {
    font-size: var(--textos-comunes);
    font-weight: 900;
    margin-top: 5px;
  }
}
@media (min-width: 650px) {
  .contenedor-noticias {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cartas-noticias {
    flex-basis: 40%;
  }
}
@media (min-width: 1024px) {
  .cartas-noticias {
    flex-basis: 23%;
  }
}

//INICIO SECCION NEWSLETTER

.subscripcion {
  background: linear-gradient(45deg, #c06c84, #355c7d);
  padding: 0px 15px;
  height: 400px;
  color: white;
  @include flexbox(column, space-evenly, center);
  .tema-principal {
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
  }
  .texto-comun {
    font-size: 14px;
    text-align: center;
    max-width: 700px;
  }
  .input-registro {
    width: 100%;
    height: 40px;
    @include flexbox(row, center, center);
    max-width: 400px;
    .newsletter {
      width: 70%;
      height: 100%;
    }
    .btn {
      width: 25%;
      height: 100%;
    }
  }
}

//inicio seccion ultimos posts

.cartas-ultimos-post {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgb(224, 224, 224);
  border-radius: 10px;
  .contenedor-img-carta-principal {
    width: 100%;
    @include background(cover, no-repeat, center);
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    position: relative;
  }
  .contenedor-descripcion-carta-principal {
    margin: 30px 0;
    padding: 0 10px;
  }

  .tag,
  .tema-principal,
  .texto-comun {
    margin: 10px 0;
  }
  .tema-principal {
    color: var(--color-textos-oscuro);
  }
  .tag {
    display: block;
  }

  .contenedor-datos {
    height: 40px;
    width: 80%;
    margin: 0 auto;
  }
  .datos {
    width: 25%;
  }
}

//media querys ultimos post
@media (min-width: 768px) {
  .cartas-ultimos-post {
    flex-direction: row;
    height: 300px;
    .contenedor-img-carta-principal {
      flex-basis: 45%;
    }
    .contenedor-img-carta-principal::after {
      content: "";
      background: red;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -50px;
      transform: skew(-5deg);
      background: var(--color-fondo-oscuro);
    }
    .contenedor-descripcion-carta-principal {
      margin: 0;
      flex-basis: 55%;
      justify-content: space-between;
      height: 100%;
      padding: 10px 20px;
    }
    .contenedor-datos {
      margin: 30px 0 0 0;
    }
    .datos {
      @include flexbox(row, flex-start, center);
      i {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .cartas-ultimos-post {
    .contenedor-img-carta-principal {
      height: 100%;
      margin: auto 0;
      border-radius: 5px 0 0 5px;
    }
  }
}

//INICIO SECCION MAS LEIDOS

.cartas-mas-leidos {
  margin: 20px 0;
  @include flexbox(row, flex-start, flex-start);
  max-width: 500px;
  border-bottom: 1px solid #cacaca;
  .imagen-noticia {
    background: blue;
    width: 35%;
    max-width: 80px;
    height: 70px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .descripcion-noticia {
    width: 65%;
  }
  .tema-principal {
    font-size: var(--textos-comunes);
    font-weight: 900;
    margin-top: 5px;
    margin-left: 10px;
  }
  .contenedor-datos {
    height: 40px;
    margin: 0;
    @include flexbox(row, space-evenly, center);
    .datos {
      width: 33%;
    }
  }
}

//INICIO SECCION REDES
.contenedor-redes {
  width: 100%;
  margin-top: 80px;
  .subtitulos {
    font-size: 20px;
  }
}
.cartas-redes {
  color: white;
  font-weight: bold;
  width: 90%;
  height: 55px;
  margin: 20px auto;
  @include flexbox(row, center, center);
  border-radius: 5px;
  font-size: var(--textos-comunes);
  text-transform: capitalize;
  max-width: 600px;
  .logo-redes {
    width: calc(100% - 15px);
    height: 100%;
    @include flexbox(row, flex-start, center);
    padding-left: 10px;
  }
  i {
    padding: 15px;
  }
  .numero-redes {
    width: 60px;
    height: 100%;
    @include flexbox(row, center, center);
    border-left: 1px solid rgba(255, 255, 255, 0.801);
  }
}
.cartas-redes:nth-child(2) {
  background-color: #1778f2;
}
.cartas-redes:nth-child(3) {
  background-color: #00acee;
}
.cartas-redes:nth-child(4) {
  background: linear-gradient(140deg, #8134af, #dd2a7b, #f58529);
}
.cartas-redes:nth-child(5) {
  background-color: #ff0000;
}

.contenedor-ultimospost-aside {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .contenedor-ultimospost-aside {
    flex-direction: row;
  }
  .ultimos-post {
    width: 70%;
  }
  .mas-leidos {
    width: 25%;
    padding: 0;
  }
  .cartas-mas-leidos {
    height: 110px;
    margin: 25px 0;
    .tema-principal {
      font-size: 11px;
    }
    .imagen-noticia {
      height: 60px;
      width: 60px;
    }
  }
}
