@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #616161;
  background-color: var(--color-fondo-oscuro);
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.contenedor {
  width: 90%;
  margin: 0 auto 15px;
  max-width: 1240px;
  padding: 50px 0;
}

.oculto {
  display: none;
}

.tag {
  font-size: var(--textos-peque);
  font-family: var(--fuente-principal);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-principal);
  letter-spacing: 1px;
}

.tema-principal {
  text-transform: capitalize;
  font-size: var(--textos-grandes);
  font-family: var(--fuente-principal);
  margin: 0;
  line-height: 1.3;
}

.contenedor-datos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datos {
  height: 100%;
  font-size: var(--textos-peque);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: center;
}

.texto-comun {
  font-size: var(--textos-comunes);
  text-align: left;
  line-height: 25px;
}

.btn-num,
.btn-secundario {
  background: none;
  border: 1px solid var(--color-principal);
  font-size: var(--textos-peque);
  font-weight: bold;
}

.btn-num {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.btn-num:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#f67280), to(#c06c84));
  background: linear-gradient(#f67280, #c06c84);
  border: none;
  color: white;
}

.btn-secundario {
  border-radius: 40px;
  padding: 10px 15px;
  margin-left: 10px;
}

:root {
  --color-textos-oscuro: #333;
  --color-fondo-oscuro: #f6f6f6;
  --color-principal: #f67280;
  --fuente-principal: "Montserrat", sans-serif;
  --textos-peque: 0.6875rem;
  --textos-comunes: clamp(0.75rem, 1vw, 0.9rem);
  --textos-grandes: 1.5rem;
  --color-textos-comunes: #616161;
  --color1: #f8b195;
  --color3: #6c5b7b;
  --color4: #355c7d;
}

.imagen-logo {
  width: 150px;
  height: 50px;
}

.navegacion-principal {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  position: relative;
}

.barra-superior {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #c06c84;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.418);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.418);
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  background: white;
  z-index: 9999;
}

.barra-superior .logo {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.barra-superior .extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20%;
}

.barra-superior .extras p {
  font-weight: bold;
}

.barra-superior .extras i {
  margin-left: 10px;
  background: -webkit-linear-gradient(34deg, #355c7d 10%, #f67280);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-movil {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-movil .hamburguesa {
  width: 25px;
  height: 3px;
  margin: 3px;
  background: -webkit-linear-gradient(34deg, #355c7d 10%, #f67280);
}

@media (min-width: 768px) {
  .barra-superior {
    display: none;
  }
  .oculto {
    display: block;
    background: -webkit-linear-gradient(34deg, #355c7d 10%, #f67280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.1rem;
  }
  .menu-desktop {
    background: white;
    z-index: 99999;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #c06c84;
    -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.418);
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-desktop .contenedor {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin: 0 auto;
  }
  .menu-desktop .imagen-logo {
    width: 15%;
    display: block;
    max-width: 150px;
  }
  .menu-desktop i {
    width: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-linear-gradient(34deg, #355c7d 10%, #f67280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .menu-desktop .links {
    width: 75%;
    max-width: 1240px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  .menu-desktop .texto-comun {
    width: 20%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .menu-desktop a {
    background: -webkit-linear-gradient(34deg, #355c7d, #f67280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.linea {
  background: var(--color-principal);
  height: 1px;
  width: calc(100% - 210px);
}

.tag-diseño {
  color: var(--color1);
}

.header-principal {
  margin-top: 20px;
  max-width: 1240px;
  height: 300px;
}

.swiper-slide {
  background: url(../images/photography-of-a-man-wearing-gray-jacket-looking-back-792385.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.596);
  z-index: -1;
}

.contenido-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding-bottom: 20px;
}

.contenido-header .tag,
.contenido-header .contenedor-datos {
  padding: 0 15px;
  margin-top: 15px;
}

.contenido-header .tag {
  font-size: clamp(0.6875rem, 1vw, 0.9rem);
}

.contenido-header .caras {
  border-radius: 50%;
  display: block;
  height: 25px;
  width: 25px;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
  margin-right: 10px;
}

.contenido-header .datos {
  min-width: 85px;
  color: #fff;
  font-size: clamp(0.6875rem, 1vw, 0.9rem);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contenido-header .datos i {
  margin: 0 20px;
}

.contenido-header .datos:nth-child(1) {
  min-width: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenido-header .tema-principal {
  padding: 20px 15px;
  color: #fff;
  font-size: clamp(1.5rem, 5vw, 3rem);
  max-width: 900px;
}

.swiper-slide:nth-child(2) {
  background: url(../images/apple-coffee-computer-desk-3560.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-slide:nth-child(3) {
  background: url(../images/close-up-of-salad-in-plate-25.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 500px) {
  .header-principal {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .header-principal {
    height: 400px;
  }
  .header-principal .contenido-header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 50px;
  }
  .header-principal .caras {
    height: 35px;
    width: 35px;
  }
  .header-principal .contenedor-datos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-principal .datos {
    width: 150px;
    margin: 0 30px;
  }
}

@media (min-width: 1024px) {
  .header-principal {
    height: 500px;
  }
  .contenido-header .contenedor-datos {
    margin: 50px 0 20px 0;
  }
}

.contenedor-subtitulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-subtitulos .subtitulos {
  font-family: var(--fuente-principal);
  text-transform: capitalize;
  color: var(--color-textos-oscuro);
  min-width: 190px;
}

.contenedor-entradas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartas-principales {
  width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 5px #e2e2e2;
          box-shadow: 1px 1px 5px #e2e2e2;
  border-radius: 10px;
  max-width: 400px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #6c5b7b), color-stop(99%, #355c7d));
  background: linear-gradient(-180deg, #6c5b7b 50%, #355c7d 99%);
}

.cartas-principales .contenedor-img-carta-principal {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  position: relative;
}

.cartas-principales .contenedor-img-carta-principal::after {
  content: "";
  background: #6c5b7b;
  height: 80px;
  width: 110%;
  position: absolute;
  bottom: -55px;
  left: 0;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.cartas-principales .contenedor-descripcion-carta-principal {
  padding: 0 10px;
}

.cartas-principales .tag,
.cartas-principales .tema-principal,
.cartas-principales .texto-comun {
  margin: 10px 0;
}

.cartas-principales .tema-principal {
  color: white;
}

.cartas-principales .tag {
  display: block;
  font-size: clamp(0.7rem, 1vw, 0.9rem);
}

.cartas-principales .contenedor-datos {
  height: 40px;
  width: 80%;
  margin: 0 auto;
}

.cartas-principales .datos {
  width: 25%;
}

@media (min-width: 650px) {
  .contenedor-entradas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cartas-principales {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .contenedor-entradas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cartas-principales {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
}

.contenedor-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.cartas-noticias {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 500px;
}

.cartas-noticias .imagen-noticia {
  width: 30%;
  max-width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.cartas-noticias .descripcion-noticia {
  width: 70%;
}

.cartas-noticias .tema-principal {
  font-size: var(--textos-comunes);
  font-weight: 900;
  margin-top: 5px;
}

@media (min-width: 650px) {
  .contenedor-noticias {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cartas-noticias {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media (min-width: 1024px) {
  .cartas-noticias {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
}

.subscripcion {
  background: #eeeeee;
  padding: 0px 15px;
  height: 400px;
  color: var(--color-textos-oscuro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscripcion .tema-principal {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 2.2rem);
}

.subscripcion .texto-comun {
  font-size: 14px;
  text-align: center;
  max-width: 700px;
}

.subscripcion .input-registro {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

.subscripcion .input-registro .newsletter {
  width: 70%;
  height: 100%;
  border: 1px solid #355c7d;
  border-radius: 25px 0 0 25px;
}

.subscripcion .input-registro .btn {
  width: 25%;
  height: 100%;
  border: none;
  border-radius: 0 25px 25px 0;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#355c7d), color-stop(65%, #6c5b7b));
  background: linear-gradient(to right, #355c7d, #6c5b7b 65%);
  color: white;
  font-style: italic;
  letter-spacing: 1px;
  padding: 1px;
  font-size: 0.75rem;
}

.cartas-ultimos-post {
  width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 1px 5px #e0e0e0;
          box-shadow: 1px 1px 5px #e0e0e0;
  border-radius: 10px;
  background: linear-gradient(175deg, #6c5b7b 60%, #355c7d 99%);
  color: white;
}

.cartas-ultimos-post .contenedor-img-carta-principal {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  position: relative;
}

.cartas-ultimos-post .contenedor-descripcion-carta-principal {
  margin: 30px 0;
  padding: 0 10px;
}

.cartas-ultimos-post .tag,
.cartas-ultimos-post .tema-principal,
.cartas-ultimos-post .texto-comun {
  margin: 10px 0;
}

.cartas-ultimos-post .tema-principal {
  color: white;
}

.cartas-ultimos-post .tag {
  display: block;
}

.cartas-ultimos-post .contenedor-datos {
  height: 40px;
  width: 80%;
  margin: 0 auto;
}

.cartas-ultimos-post .datos {
  width: 25%;
}

@media (min-width: 768px) {
  .cartas-ultimos-post {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 300px;
    background: linear-gradient(65deg, #6c5b7b 50%, #355c7d 99%);
  }
  .cartas-ultimos-post .contenedor-img-carta-principal {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .cartas-ultimos-post .contenedor-descripcion-carta-principal::after {
    content: "";
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    -webkit-transform: skew(-5deg);
            transform: skew(-5deg);
    background: linear-gradient(55deg, #6c5b7b 85%, #355c7d 150%);
    z-index: -1;
  }
  .cartas-ultimos-post .contenedor-descripcion-carta-principal {
    margin: 0;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
  }
  .cartas-ultimos-post .contenedor-datos {
    margin: 30px 0 0 0;
  }
  .cartas-ultimos-post .datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cartas-ultimos-post .datos i {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .cartas-ultimos-post .contenedor-img-carta-principal {
    height: 100%;
    margin: auto 0;
    border-radius: 5px 0 0 5px;
  }
}

.cartas-mas-leidos {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 500px;
  border-bottom: 1px solid #cacaca;
}

.cartas-mas-leidos .imagen-noticia {
  width: 35%;
  max-width: 80px;
  height: 70px;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.cartas-mas-leidos .descripcion-noticia {
  width: 65%;
}

.cartas-mas-leidos .tema-principal {
  font-size: var(--textos-comunes);
  font-weight: 900;
  margin-top: 5px;
  margin-left: 10px;
}

.cartas-mas-leidos .contenedor-datos {
  height: 40px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartas-mas-leidos .contenedor-datos .datos {
  width: 33%;
}

.contenedor-redes {
  width: 100%;
  margin-top: 80px;
}

.contenedor-redes .subtitulos {
  font-size: 20px;
}

.cartas-redes {
  color: white;
  font-weight: bold;
  width: 90%;
  height: 55px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: var(--textos-comunes);
  text-transform: capitalize;
  max-width: 600px;
}

.cartas-redes .logo-redes {
  width: calc(100% - 15px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.cartas-redes i {
  padding: 15px;
}

.cartas-redes .numero-redes {
  width: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(255, 255, 255, 0.801);
}

.cartas-redes:nth-child(2) {
  background-color: #1778f2;
}

.cartas-redes:nth-child(3) {
  background-color: #00acee;
}

.cartas-redes:nth-child(4) {
  background: linear-gradient(140deg, #8134af, #dd2a7b, #f58529);
}

.cartas-redes:nth-child(5) {
  background-color: #ff0000;
}

.contenedor-ultimospost-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .contenedor-ultimospost-aside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ultimos-post {
    width: 70%;
  }
  .mas-leidos {
    width: 25%;
    padding: 0;
  }
  .cartas-mas-leidos {
    height: 110px;
    margin: 25px 0;
  }
  .cartas-mas-leidos .tema-principal {
    font-size: 11px;
  }
  .cartas-mas-leidos .imagen-noticia {
    height: 60px;
    width: 60px;
  }
}

.footer-index {
  background: #202020;
  color: white;
}

.footer-index .subtitulos {
  color: white;
}

.footer-index .about,
.footer-index .tags,
.footer-index .copy {
  max-width: 1240px;
}

.footer-index .footer-negrita {
  margin: 25px 0;
  font-weight: bold;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -1px;
}

.footer-index .redes-footer {
  height: 30px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
}

.footer-index .redes-footer i {
  font-size: 1.3rem;
  margin-right: auto;
}

.footer-index .texto-comun {
  max-width: 700px;
}

.footer-index .contenedor-tags-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.footer-index .tags-footer {
  min-width: 60px;
  margin: 5px 15px;
  text-transform: uppercase;
  font-size: 0.65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #424242;
  border-radius: 20px;
  padding: 0px 8px;
  background: rgba(66, 66, 66, 0.418);
}

.footer-index .copy {
  margin-top: auto;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 5px;
  height: 5px;
  font-size: 20px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 10%;
}

.menu-desplegable {
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.menu-desplegable .contenedor {
  padding: 0;
}

.menu-desplegable .superior-menu-desplegable {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .logo-desplegable img {
  height: 55px;
  width: 170px;
}

.menu-desplegable .contenedor-btn-cerrar {
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu-desplegable .contenedor-btn-cerrar .cruz {
  background: linear-gradient(-45deg, #355c7d 10%, #f67280);
  width: 35px;
  height: 2px;
  position: absolute;
  top: 50%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-desplegable .contenedor-btn-cerrar .cruz:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-desplegable .contenedor-btn-cerrar .cruz:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu-desplegable .links-nav-desplegable {
  width: 100%;
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .buscar-desplegable {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-start !important;
}

.menu-desplegable .buscar-desplegable .input-buscar-desplegable {
  height: 100%;
  width: 65%;
  border: none;
  padding: 15px;
  background: #ebebeb;
}

.menu-desplegable .buscar-desplegable .btn {
  height: 100%;
  width: 50px;
  background: linear-gradient(34deg, #355c7d, #f67280);
  color: white;
  border: none;
}

.menu-desplegable a {
  background: -webkit-linear-gradient(34deg, #355c7d, #f67280);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f67280;
}

@media (min-width: 768px) {
  .menu-desplegable {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */